.modal {
    width: 100vw;
    max-height: 500px;
    position: fixed;
    top: 15%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    box-shadow: 5px 5px 15px 5px grey;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 400px;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active{
transform: scale(1);
}

.modal__header{
    display: flex;
    justify-content: end;
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: red;
    font-weight: bold;
}

